<!DOCTYPE html>
<html>
  <head>
    <title>Estydemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      
      <%= render 'shared/navbar'%>

      <% flash.each do |name, msg| %> 
        <% if msg.is_a?(String) %> <div
      class="alert alert-<%= name == :notice ? "success" : "danger" %>
      alert-dismissable"> <button type="button" class="close" data-dissmiss="alert" aria-hidden= "true" >&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div> <% end -%> <% end -%>

      <!--  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->

      <%= yield %>
      <p>copyright 2021</p>
    </div>
    
  </body>
</html>
